.character {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.legs,
.middle,
.head {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
